$font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$color: rgb(92, 54, 0);

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 251, 246);
}

.icons {
    width: 50px;
}

h1 {
    font-family: $font;
    color: $color;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98.5vw;
    height: 10vh;
    margin-top: 50px;
    background-color: rgb(255, 246, 235);
}

a {
    font-size: 120%;
    color: $color;
    text-decoration: none;
}

a:hover {
    font-weight: 500;
}
